/*pra criar mais um breakpoint de resolução pra eu deixar no ponto que eu quero.*/

@media (min-width: 1500px) {
    .container{
        max-width: 1400px;
    }
}


#inicio {

	background-color: #113977;
	height: 720px;
	color: white;

}

.container{

	min-height: 500px;

}

.titulos {

	color: #113977;
	font-size: 35px;
	margin-top: 50px;

}


#lado_direito{

	min-height: 720px;
	
}


#lado_esquerdo{

	min-height: 720px;
	padding-top: 255px;
	padding-right: 280px;
	

}

#faixa_superior{

	height: 15px;
	background-color: #4cb1ef;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
	width: 100%;

}


#faixa_inferior{

	height: 5px;
	background-color: #4cb1ef;
}

#conteudo{

	padding-top: 40px;
	padding-bottom: 60px;
}


.palavra_destacada {

	color: #4cb1ef;
	font-weight: bold;
}

body{

	font-family: Montserrat, Sans-serif; 
}

h1{

	font-size: 32px;
	font-weight: bold;
	padding-bottom: 10px;
}

footer{

	height: 100px;
	color: white;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;

	background-color: #113977;

}

/*
.container {

	margin: 0 auto;
	width: 1400px;
}

#inicio {

	padding-top: 10px;
	height: 700px;
	background-color: #113977;
	color: white;
	width: 100%;

}

h1 {

	font-weight: bold;
	font-size: 35px;
}

#faixa_cima {

	height: 15px;
	background-color: #4cb1ef;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
	width: 100%;
}

#faixa_baixo {

	height: 5px;
	background-color: #4cb1ef;
}


body {

	font-family: Montserrat, Sans-serif; 
	margin: 0;
	padding: 0;
}



#in_direito{

	float: right;
	width: 600px;
	


}

#in_esquerdo {

	float: left;
	width: 600px;
	margin-top: 220px;


}

.palavra_destacada {

	color: #4cb1ef;
	font-weight: bold;
}

#nome{

	font-size: 35px;
}

.content {

	margin: 100px 0px 100px 0px;
	min-height: 500px;
}


.titulos {

	color: #113977;
	font-size: 35px;
	margin-top: 50px;

}

footer {

	min-height: 50px;
	background-color: #113977;
	color: white;
	text-align: center;
	padding: 20px;
}
*/
