/*pra criar mais um breakpoint de resolução pra eu deixar no ponto que eu quero.*/
#inicio {

	background-color: #113977;
	height: 600px;
	color: white;

}

.container{

	min-height: 500px;

}

.titulos {

	color: #113977;
	font-size: 25px;
	margin-top: 15px;

}


#lado_direito{

	min-height: 300px;
	
}


#lado_esquerdo{

	min-height: 300px;
	padding: 80px 20px 50px 20px;
	

}

#faixa_superior{

	height: 15px;
	background-color: #4cb1ef;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
	width: 100%;

}


#faixa_inferior{

	height: 5px;
	background-color: #4cb1ef;
}

#conteudo{

	padding-top: 40px;
	padding-bottom: 60px;
}


.palavra_destacada {

	color: #4cb1ef;
	font-weight: bold;
}

body{

	font-family: Montserrat, Sans-serif; 
}

h1{

	font-size: 20px;
	font-weight: bold;
	padding-bottom: 10px;
}

footer{

	height: 100px;
	color: white;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;

	background-color: #113977;

}

@media (min-width: 768px){


	#inicio{

		height: 350px;
	}

	#lado_direito{

		min-height: 350px;

	}


	#lado_esquerdo{

		padding-top: 100px;
		min-height: 350px;
	}



}


@media (min-width: 992px){



	#inicio{

		height: 500px;
	}

	#lado_direito{

		min-height: 500px;

	}


	#lado_esquerdo{

		padding-top: 150px;
		min-height: 500px;
		padding-right: 100px;
	}

	h1{

		font-size: 25px;
	}

	.titulos {

		font-size: 30px;
		margin-top: 25px;
	}

	
}


@media (min-width: 1500px) {

    .container{
        max-width: 1400px;
    }


	#inicio{

		height: 720px;
	}

	#lado_direito{

		min-height: 720px;

	}


	#lado_esquerdo{

		padding-top: 255px;
		min-height: 720px;
		padding-right: 280px;
	}

	.titulos {

		font-size: 30px;
		margin-top: 50px;
	}

	h1{

		font-size: 32px;
	}

	

}