.post-card-holder {

    height: 225px;
    background-color: white;
    border-top: 5px solid rgb(25, 45, 160);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 5px 5px 5px 0px rgb(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 30px;
}

.postcard-main:hover > div > p {

    font-weight: normal;
}

.postcard-main:hover > div > h3 {

    color:rgb(65, 85, 200) ;
    font-weight: bolder;
}

.postcard-main {

    display: flex;
}

.postcard-image-holder {

    flex: 0 0 200px;
}

.postcard-img {

    width: 220px;
}

.postcard-content {

    padding-left: 20px;
}

.postcard-title {

    margin-top: 0;
    margin-bottom: 15px;
    font-size: 23px;
}

.postcard-description {

    color: black;
    font-size: 18px;
    margin-bottom: 8px;
}

.postcard-date {

    color: grey;
    font-size: 18px;
}

.postcard-link {

    text-decoration: none;
}

@media(max-width:1100px){

    .post-card-holder {

        min-width: 0;
    }
}

@media(max-width: 600px) {

    .post-card-holder {

       height: 450px;
    }
    .postcard-main {

        display: inline;
    }

    .postcard-title {

        margin-top: 20px;
    }
    
}